.widget {
  flex: 0.2;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
  margin-right: 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
  /* max-height: 85vh; */
  height: fit-content;
  background-color: white;
}

.widget__header {
  border-bottom: 1px solid lightgray;
}

.widget__header > h5 {
  padding: 10px;
  color: rgb(80, 80, 80);
  font-size: 15px;
  letter-spacing: 1.1px;
}

.widget__contents {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .widget {
    display: none;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .widget {
    display: block;
  }
}
